/* Reset and basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}



header {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 300;
    /* font-style: italic; */
    background: #112221;
    color: #249c82;
    padding: 1rem 0;
    text-align: center;
    font-size: x-large;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-image: url("images/photo-1447433553548-2fc162393482.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #249c8234; /* Change this to your desired background color */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -1;
}
/* header nav a {
    color: #fff;
    text-decoration: none;
} */

main {
    font-family: 'Lora', serif;
    font-size: 22px;
    padding: 2rem;
    color: #249c82;
}

section {
    margin-bottom: 2rem;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 3;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

style {
    display:contents;
    size: 50%;

}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: auto;
}

.image-gallery .image-container {
    position: relative;
    width: 12%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 1px;
    box-sizing: inherit; 
    transition: transform 0.5s ease; 
}


.image-gallery img {
    width: 100%;
    height: 100%;  /* Optional: Scale the image to cover the container */
    object-fit: cover;  /* Scale the image to cover the container */
    box-shadow: 0px -32px 16px rgba(0, 0, 0, 1);
    /* opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0s 0.5s; Fade in with opacity */
}

/* .image-gallery img.loaded {
    opacity: 1;  
    visibility: visible;
} */

.image-gallery .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2.5%;
    background-color: black;
    background: url("https://nikoskoutsos.github.io/portfolio-site/css/images/card_back_1.jpg") center/cover no-repeat;
    width: 100%;
    height: auto;
    /* background-size: cover; */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 1);
    z-index: 2;
}

.image-gallery .image-container:hover .overlay {
    opacity: 0;
}

/* Apply zoom effect to the container, not the image */
.image-gallery .image-container:hover {
    transform: scale(1.15); /* Zoom effect on container */
    z-index: 1;
}

.image-gallery .image-container{
    overflow: hidden;
}


.card-button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: auto;
}

.card-button:focus{
    outline: none;
}


